.order-container{
    width: 100%;
    height: 100%;
    padding-top:20px;
}

.order-container header{
    display: flex;
    justify-content: center;
    color:white;
    font-size:40px;
    margin:10px 0 10px;
}

.order-container form{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:15px;
    
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 800px;
}

.order-container form input,select{
    background: #222222;
    color:#fff;

}

.order-container form input:focus,select:focus{
    background-color: #4E4E4E;
    transition: 0.2s;

}





.form-container select option{
    background-color:#4E4E4E ;
}

#title-order{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-top:15px;
}

.form-container label{
    margin-top: 10px;
}


.search{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search input{
    width: 582px;
    height: 30px;
    margin-left:10px;
}

.search img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

#buttons-container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}

#buttons-container button{
    margin-top:30px;
    background-color:#E8474C;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    outline: 0;
    border: none;
    border-radius: 0;
    font-size: 30px;
    width: 45%;
   
}

.price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}






